<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<%- include('layouts/header'); -%>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div class="container">

				<%- include('layouts/navbar'); -%>

				<!-- Banner -->
				<div id="banner">
					<h2><strong>PA appalachian anglers</strong> <br> A Pennsylvania Fishing blog
						<br />
					</h2>
					<!-- THIS IS GOING TO BE CHANGED OBVIOUSLY TODO -->
					<!--<p></p>
					<a href="#" class="button large icon solid fa-check-circle">Yes it does</a>-->
				</div>
			</div>
		</div>

		<!-- Main Wrapper -->
		<div id="main-wrapper">
			<div class="wrapper style1">
				<div class="inner">

					<!-- Feature 1 -->
					<section class="container box feature1">
						<div class="row">
							<div class="col-12">
								<header class="first major">
									<h2>Featured Posts</h2>
									<!--<p>Random Posts Each Time You <strong>Visit</strong></p>-->
								</header>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<a href="/post/5ea7ab38fbcc3b500cce2158" class="image featured"><img
											src="images/pic01.jpg" alt="" /></a>
									<h3></h3>
									<p>Lake Ontelaunee</p>
									</header>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<a href="/post/5ea7af3f2e38d555ec2b663a" class="image featured"><img
											src="images/pic02.jpg" alt="" /></a>
									<h3></h3>
									<p>Upper Woods Pond</p>
									</header>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<a href="/post/5ea7b1432e38d555ec2b663b" class="image featured"><img
											src="images/pic03.jpg" alt="" /></a>
									<h3></h3>
									<p>CHANGE TO OPENING DAY OF TROUT SEASON</p>
									</header>
								</section>
							</div>
							<div class="col-12">
								<p>Click an image above to view the post</p>
							</div>
						</div>
					</section>

				</div>
			</div>
			<div class="wrapper style3">
				<div class="inner">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<% if(loggedIn) { %>
								<h2>Logged in as: <%= currentUser.username %></h2>
								<% } %>
								<!-- Article list -->
								<%- include('layouts/recentposts'); -%>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Spotlight -->
								<% let len = blogposts.length; %>
								<% len = len - 1 %>
								<% let ran = Math.round(Math.random() * len)%>


								<section class="box spotlight">
									<h2 class="icon fa-file-alt">Spotlight</h2>
									<article>
										<a href="#" class="image featured"><img src="<%= blogposts[ran].image %>"
												alt=""></a>
										<header>
											<h3><a href="#"><%= blogposts[ran].title %></a></h3>
											<p> </p>
										</header>
										<p><%= blogposts[ran].body %></p>
										<footer>
											<a href="/post/<%= blogposts[ran]._id %>"
												class="button alt icon solid fa-file-alt">view post</a>
										</footer>
									</article>
								</section>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper style2">
				<div class="inner">
					<% if(loggedIn) { %>
					<!-- Feature 2 -->
					<section class="container box feature2">
						<div class="row">

							<div class="col-6 col-12-medium">
								<section>
									<header class="major">
										<h2>Want to make a post?</h2>
										<p>Click the button below</p>
									</header>
									<p>Posts can be viewed by everyone and anyone that visits the site</p>
									<footer>
										<a href="/posts/new"
											class="button medium icon solid fa-arrow-circle-right">Let's do
											this</a>
									</footer>
								</section>

							</div>
						</div>
					</section>
					<% } %>


					<% if(!loggedIn) { %>
					<!-- Feature 2 -->
					<section class="container box feature2">
						<div class="row">

							<div class="col-6 col-12-medium">
								<section>
									<header class="major">
										<h2>Want to make a post?</h2>
										<p>Make sure you are logged in!</p>
									</header>
									<footer>
										<a href="/auth/login"
											class="button medium icon solid fa-arrow-circle-right">Login</a>
									</footer>
								</section>
							</div>
							<div class="col-6 col-12-medium">
								<section>
									<header class="major">
										<h2>Dont have an account?</h2>
										<p>Click the button below</p>
									</header>
									<footer>
										<a href="/auth/register"
											class="button medium alt icon solid fa-info-circle">Sign Up</a>
									</footer>
								</section>
							</div>
						</div>
					</section>
					<% } %>
				</div>
			</div>

		</div>

		<!-- Footer Wrapper -->
		<%- include('layouts/footer'); -%>

	</div>

	<!-- Scripts -->
	<%- include('layouts/scripts'); -%>

</body>

</html>