<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<%- include('layouts/header'); -%>

<body class="right-sidebar is-preload">
	<div id="page-wrapper">

		<!-- Header Wrapper -->
		<div id="header-wrapper">
			<div class="container">

				<%- include('layouts/navbar'); -%>


			</div>
		</div>

		<!-- Main Wrapper -->
		<div id="main-wrapper">
			<div class="wrapper style2">
				<div class="inner">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<div id="content">

									<!-- Content ACTUAL POST -->

									<article>
										<header class="masthead">
											<h2><%= blogpost.title %></h2>
											<p>Posted on <%= blogpost.datePosted.toDateString() %> By
												<%= blogpost.userid.username %></p>
											<img style="width: 200px" src="<%= blogpost.image %>" alt="">

											<p><%= blogpost.body %></p>

										</header>
									</article>



									<!-- EXTRA STUFF -->
								</div>
							</div>
							<div class="col-4 col-12-medium">
								<div id="sidebar">

									<!-- Sidebar -->


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper style3">
				<div class="inner">
					<div class="container">
						<div class="row">

						</div>
						<div class="col-4 col-12-medium">

							<!-- Spotlight -->
							<section class="box spotlight">

							</section>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer Wrapper -->
	<%- include('layouts/footer'); -%>

	</div>

	<!-- Scripts -->
	<%- include('layouts/scripts'); -%>

</body>

</html>