<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<%- include('layouts/header'); -%>

<body class="left-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header Wrapper -->
        <div id="header-wrapper">
            <div class="container">
                <%- include('layouts/navbar'); -%>
            </div>
        </div>

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <section>
                            <h2>Register a new account</h2>
                            <div>
                                <div class="row">
                                    <div class="col-6 col-12-small">
                                        <dl class="contact">


                                            <% if(errors != null && errors.length > 0){ %>
                                            <ul class="list-group">
                                                <% for (let i = 0; i < errors.length; i++) { %>
                                                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                                                <% } %>
                                            </ul>
                                            <% } %>

                                            <form action="/users/register" method="POST" enctype="multipart/form-data">
                                                <dt>Username</dt>
                                                <dd><input type="text" id="username" name="username"
                                                        value="<%= username %>"></dd>

                                                <dt>Password</dt>
                                                <dd><input type="password" id="password" name="password"
                                                        value="<%= password %>"></dd>

                                                <dt><button type="submit" class="button"
                                                        id="sendMessageButton">Register</button></dt>
                                            </form>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Wrapper -->
    <%- include('layouts/footer'); -%>

    </div>

    <!-- Scripts -->
    <%- include('layouts/scripts'); -%>
</body>

</html>